* {
    box-sizing: border-box; 
    font-family: "Roboto", sans-serif;
    font-weight: 900;
}

body {
    margin: 0;
}

#container {
    display: grid;
    grid-template-columns: 15vw 1fr;
}

/* SIDEBAR */

#sidebar {
 background-color: #1992d3;
 grid-column: 1 / 2;
 grid-row: 1 / 4;
 height: 100vh;
 display: grid;
 grid-template-columns: 25vw;
}

#sidebar-menu {
    grid-column: 1;
    grid-row: 2 / 4;
    list-style-type: none;
    display: grid;
    grid-auto-rows: max-content;
    padding-left: 20px;
    row-gap: 18px;
    font-size: 16px;
    font-weight: 900;
    margin-top: -100px;
}

#sidebar-menu a {
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 41px;
    color: white;
    text-decoration: none;
    
}

a:visited {
    color: white;
}

#divider {
    height: 2vh;
}


#sidebar-settings {
    grid-column: 1;
    grid-row: 4 / 4;
}

/* HEADER */

#header {
    background-color: purple;
    grid-column: 2 / 3;
    grid-row: 1 / 1;
    height: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#profile {
    grid-column: 2 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row-reverse;
}

#welcome-profile {
    grid-column: 1 / 2;
    grid-row: 2 / 2;
}

#header-buttons {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    display: flex;
    flex-direction: row-reverse;
}

/* CONTENT */

#content-tiles {
    background-color: green;
    display: grid;
    grid-template-columns: 50vw 1fr;
    height: 80vh;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#project-tiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
}

.tile {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#menu-tiles {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    display: grid;
    place-items: center;
}

/* ICONS */

#icon-logo {
    background-image: url(img/logo.svg);
    background-repeat: no-repeat;
    text-decoration: none;
    padding-left: 50px;
    padding-top: 10px;
    font-size: 22px;
    font-weight: 900;
    margin: 10px;
    background-size: 40px;
}

#icon-home {
    background-image: url(img/home.svg);
}

#icon-profile {
    background-image: url(img/profile.svg);
}

#icon-messages {
    background-image: url(img/messages.svg);
}

#icon-history {
    background-image: url(img/history.svg);
}

#icon-tasks {
    background-image: url(img/tasks.svg);
}

#icon-communities {
    background-image: url(img/communities.svg);
}

#icon-settings {
    background-image: url(img/settings.svg);
}

#icon-support {
    background-image: url(img/support.svg);
}

#icon-privacy {
    background-image: url(img/privacy.svg);
}